name: Ruby CI

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '**.rb'
  workflow_dispatch:

jobs:
  ruby-ci:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby-version }}
    strategy:
      matrix:
        ruby-version:
          - '3.0'
          - '3.1'
          - '3.2'
          - '3.3'
          - '3.4'
          - '4.0'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Run rubocop
        run: bundle exec rubocop

      - name: Run rspec
        run: bundle exec rspec
